nav {
    background: rgb(231, 231, 5);
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#nav > div{
    padding:20px;
    width: 350px;
}
input{
    width: 300px;
    height: 25px;
    border-radius: 5px;
}
img{
    width: 200px;
    height: 200px;
}
form > div{
    font-size: 20px;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}
form{
    width:  80%;
    margin: 50px auto;
}
a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}